* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BMI_calc {
  width: 530px;
  height: 500px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_section {
  flex-direction: column;
}
