* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BMI_calc {
  width: 530px;
  height: 500px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  min-height: 100vh;
  background-image: radial-gradient(
    circle,
    #149519,
    #00926a,
    #0088a4,
    #0079be,
    #2762b2
  );
}

.input_section {
  flex-direction: column;
}
